html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  background: #F6F4F3;
}

.decoratedHeader::after {
  content: "";
  background: #F18F01;
  height: 3px;
  width: 75px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}