body {
  margin: 0;
}
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity:0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
  display: flex;
  flex-direction: row-reverse;
}

main {
  height: calc(100vh - 60px);
  padding-top: 60px;
}

.sticky {
  visibility: visible;
  opacity:1;
}